
@Model MvcFirstApp.Models.Employee_list


@*@{
    ViewBag.Title = "First";
}*@

@*<h2>First</h2>*@


@if (Model != null)
 {
     
     <ul>
         <li>Employee Information</li>
         <li>Employee id : <b>@Model.id</b></li>
         <li>Employee Name : <b>@Model.Name</b></li>        
         <li>Employee Address : <b>@Model.Address</b></li>
     </ul>
     
 }